<?xml version="1.0" encoding="UTF-8"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0"><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" /></sectionGroup></sectionGroup></configSections>
	<connectionStrings />
  <system.web>
    <customErrors mode="Off" defaultRedirect="system/generic-error/DefaultError.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="system/generic-error/FileNotFound.aspx" />
    </customErrors>
    <globalization uiCulture="af-ZA" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="360" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="true" />
		<httpRuntime maxRequestLength="512000" executionTimeout="540000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
		<pages enableViewStateMac="false" />
		<machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281BB" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
		</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
   <add key="strConn" value="Data Source=stdgw;Integrated Security=no;Unicode=true;" />
   <add key="dbUser" value="stdgw" />
   <add key="dbPwd" value="a87d7JkIssA=" />
  </appSettings>
	</location>
	<system.webServer>
		<httpProtocol> 
			<customHeaders> 
				<add name="X-UA-Compatible" value="IE=5" /> 
			</customHeaders> 
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
        </system.webServer>
		<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true" /></rptBuildProvider></crystalReports></businessObjects></configuration>