
body { font-family: "Tahoma"; font-size:10pt; 
	   margin  : 2 2 2 2; 
	   text-decoration  : none;
	   background-color :#f7f8fc;
 	}
button { font-family: "Tahoma"; font-size:8pt;font-weight:bold; }
select {  font-family: "Tahoma"; font-size:8pt; }
input  {font-family: "Tahoma"; font-size:8pt; }
img    { border: 0 }
div	{ font-weight:normal;}
p { margin-top:2 ; margin-bottom:3 }
TEXTAREA {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	PADDING-LEFT: 5px; FONT-SIZE: 11px; 
	BORDER-LEFT: #cccccc 1px solid; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #cccccc 1px solid; 
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma;
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: tahoma, verdana, arial, helvetica
}
TR {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #323232; FONT-STYLE: normal; FONT-FAMILY: tahoma, verdana, arial, helvetica
}
td   		{ font-size: 8pt; font-family: "Tahoma"; font-weight:bold;} 


TABLE.debugtable { 	border-width: 1 2 2 1 ; border-color:#666666; border-style: solid ; border-collapse: collapse; }
TD.debug_content {	 font-size: 9pt; color:#000000; padding:2 5 2 5;background-color: #F4F4F4 }
TD.debug_title2 { 	font-family: Tahoma; font-size: 9pt; color:white; background-color: #4040af; font-weight:700;padding:2 5 2 5 }
TD.debug_title {	font-family: Tahoma; font-size: 9pt;  background-color: #c0a0ff;padding:2 5 2 5 }

TABLE.table 	{ border-top: 0 solid #E1CC4F; border-left: 0 solid #E1CC4F; border-right:0 solid black ; border-bottom:0 solid black} 
TD.table_title 	{ font-family: "Tahoma"; padding: 3 3 3 3; background-color:#bde9ff; ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F}
TD.table_title1 { font-family: "Tahoma";padding: 5 5 5 5; background-color:#015C90  ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #81D7F3; border-right: 1 solid #81D7F3;color:white}
TD.table_title2 	{ font-family: "Tahoma"; padding: 3 3 3 3; background-color:#FFFFBF ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F; TEXT-ALIGN:LEFT;}
TD.table_title3 { font-family: "Tahoma";padding: 5 5 5 5; background-color:#FFFFDF  ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F}
TD.table_content 	{ font-family: "Tahoma";padding: 2 2 2 2; background-color:white; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F}

TABLE.itable 	{ border-top: 1 solid #003284; border-left: 1 solid #003284;border-right:0 solid black ; border-bottom:0 solid black} 
TD.itable_title 	{ font-family: "Tahoma"; padding: 2 2 2 2; background-color:#FFF0A3 ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F}
TD.itable_content 	{ font-family: "Tahoma";padding: 0 0 0 0; background-color:#015C90;color:white; font-size:10pt ; border-top:0 solid white ; border-left:0 solid white ; border-bottom: 1 solid #E1CC4F; border-right: 1 solid #E1CC4F}

TD.gwTitle {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	FONT-STYLE: normal; 
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	color: #COCOCO;
}

TABLE.grid		{ border-top: 1 solid #C7C7C7; border-left: 1 solid #C7C7C7;} 
TD.grid_title 		{ font-family: "Tahoma"; padding: 3 3 3 3; background-color:#C5E2F7 ; font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #C2D1E5; border-right: 1 solid #FFFFFF}
TD.grid_content 	{ font-family: "Tahoma";padding: 2 2 2 2;  font-size:10pt ; border-top:1 solid white ; border-left:1 solid white ; border-bottom: 1 solid #C7C7C7; border-right: 1 solid #C7C7C7}
TR.grid_content	{ background-color:#EEEEEE; padding:2 2 2 2 }

TABLE.standalone
{
border-collapse:collapse; border:1px solid #003284;
}

A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005ee1; FONT-STYLE: normal; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A:link,A:visited,A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005ee1; FONT-STYLE: normal; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005ee1; FONT-STYLE: normal; FONT-FAMILY: tahoma, verdana, tahoma, verdana, arial; TEXT-DECORATION: underline
}
.title { 
	color:#095E88; 
	text-align:right;
}
b.topic { color:#095E88; 
		 text-transform:uppercase;
		 text-indent:6px;
		 font-size:12px;
}
#bg {background-image: url(images/login/bgSuHeung.gif);width:820px; height:600px;}

.btnLogin
{
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	COLOR:  #000;
	border: 1px solid #cccccc;
	background-color: #ffffff;	
	font-weight:bold;
	width: 80px;
	height:20px;
}